.content{
    justify-self: center;
}

.search{
  text-align: center;
  width: 900px;
  font-style: italic;
  font-weight: bolder;
}

.header{
    font-size: 4pc;
    font-style: italic;
    font-weight: bolder;
    color: rgb(247, 0, 0);
    background-color: black
}


  .h1{
    font-size: xx-large;
    font-family: 'Cambria, Cochin, Georgia, Times, Times New Roman, serif';
     justify-self: center;
}

.list-btn{
    background-color: red;
}

.back-btn{
  background-color: gray;
  font: bold;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.car-card{
    border: 1px solid;
    border-radius: 5px;
    padding: 100px;
    margin-bottom: 20px;
}
.card-title{
    font-weight: bold;
    margin-bottom: 10px;
}
.card-image{
    width:50px;
    height:50px
}

