.content{
    justify-self: center;
}

.search{
  text-align: center;
  width: 900px;
  font-style: italic;
  font-weight: bolder;
}

.header{
    font-size: 4pc;
    font-style: italic;
    font-weight: bolder;
    color: rgb(247, 0, 0);
    background-color: black
}


  .h1{
    font-size: xx-large;
    font-family: 'Cambria, Cochin, Georgia, Times, Times New Roman, serif';
     justify-self: center;
}

.list-btn{
    background-color: red;
}

.back-btn{
  background-color: gray;
  font: bold;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.car-card{
    border: 3px solid;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    width: 250px;
}
.car-card:hover{
    color: red;
}
.card-title{
    font-weight: bold;
    margin-bottom: 10px;
    justify-self: center;
}
.card-image{
    width: 200px;
    height: 150px;
    object-fit: cover;
}

.price{
    justify-self: right;
}
.remove-fav{
    background-color: red;
}
.link{
    color: rgb(245, 0, 0);
}
.link:hover{
    color: rgb(0, 0, 0);
}

.car-form{
    justify-self: center;
}
 
.carform-title{
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.form-input{
    color: rgb(0, 0, 0);
    border: 1px solid;
    border-radius: 5px;
    font-style: italic;
}
.form-btn{
    border-radius: 5px;
    font-weight: bold;
    background-color: red;
}

.about-img{
    width: 1000px;
}
.car-div{
    border: 3px solid;
    width: 300px;
    height: 400px;
    padding: 17px;
    justify-self:center

}
.car-div:hover{
    color: rgb(97, 97, 97);
}
.car-img{
    width: 259px;
    height: 194px;
    justify-self:center;
    object-fit:contain;
}

.center{
    justify-self: center;
}
